@import '../variables';

body {
    background-color: orange !important;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    width: 100%;

    @media only screen and (min-width: $desktop-large) {
        padding: 30px;
    }
}

article.order-item {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: $desktop-large;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: $background-color;
    border-radius: 5px;
}

.no-items {
    margin-top: 5vh;
    padding: 20px;
    color: rgba(0,0,0,0.5);
}

.button-holder {
    display: flex;
    margin-top: 30px;
    align-items: center;

    > a:not(.btn) {
        transition: 0.2s;
        font-weight: bold;
        text-decoration: none;
        color: rgba(0,0,0,0.75);

        &:hover {
            transform: scale(1.05);
        }
    }

    > .btn {
        margin-left: 30px;
    }
}

.total-cost {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    max-width: $desktop-large;
    font-size: 14pt;
    padding: 30px 0;
    width: 100%;
    text-align: right;

    > span {
        margin-left: 8px;
        border-radius: 3px;
        background-color: darken($secondary-tone, 25%);
        padding: 5px 10px;
        color: $background-color;
        letter-spacing: 0.5pt;
        font-weight: normal;
    }
}

.student-input {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    max-width: 1200px;

    > input {
        height: calc(12pt + 2*20px);
        border-radius: 3px;
        border: none;
        width: 100%;
        padding: 15px;
        box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
        font-size: 12pt;
    }

    > button {
        white-space: nowrap;
        transition: 0.2s;
        border-radius: 3px;
        padding: 15px 20px;
        margin-left: 10px;
        background-color: #111;
        border: none;
        font-size: 12pt;
        cursor: pointer;
        color: white;

        &:hover {
            color: $secondary-tone;
        }
    }
}

.selector {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    max-width: $desktop-large;
    border: 0px solid transparent;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    font-size: 12pt;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 3px;

    background-image: url('../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position:
        calc(100% - 20px),
        calc(100% - 20px),
        100% 0;
    background-size: 20px;
}

.reviewSeperator {
    margin-bottom: 40px;
}

.updated-time {
    cursor: default;
    transition: 0.2s;
    color: rgba(0,0,0,0.5);

    &:hover {
        color: black;
    }
}

.wrapper {
    display: flex;
    justify-content: flex-start;
}

.top-bar {
    max-width: $desktop-large;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    > button {
        transition: 0.2s;
        border-radius: 3px;
        padding: 10px 15px;
        margin-left: 10px;
        background-color: darken(rgb(226, 62, 62), 25%);
        border: none;
        color: white;
        font-size: 12pt;
        cursor: pointer;

        &:hover {
            background-color: darken(rgb(226, 62, 62), 35%);
        }

        &.open {
            background-color: darken(rgb(104, 211, 104), 25%) !important;
            
            &:hover {
                background-color: darken(rgb(104, 211, 104), 35%) !important;
            }
        }
    }
}

option span {
    margin-left: 100px;
    color: $secondary-tone;
}

footer {
    transition: 0.2s;
    display: flex;
    color: rgba(white, 0.8);
    background-color: rgba(black, 1);
    padding: 4px 12px 4px 17px;
    border-radius: 100vh;
    cursor: default;

    > a {
        transition: 0.2s;
        padding: 0 8px;
        color: white;

        &:hover {
            color: $secondary-tone;
        }
    }

    > span.heart {
        transition: 0.2s;
        color: rgba(0,0,0,1);
        padding: 0 5px;
        animation: heart-pulse 1s alternate infinite;
    }
}

@keyframes heart-pulse {
    0% { transform: scale(1); opacity: 0.7; }
    100% { transform: scale(1.25); opacity: 1; }
}